{% extends '@!EasyAdmin/layout.html.twig' %}

{% block page_title 'Dashboard' %}

{% block main %}
<div class="dashboard-banner" style="background: url('https://images.unsplash.com/photo-1703880258785-45bc4492a912?q=80&w=2664&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') no-repeat center center; background-size: cover; color: white; text-align: center; padding: 50px 0;">
    <h1>Witaj w Panelu Administracyjnym!</h1>
    <p>Personalizuj i zarzdzaj swoj stron efektywnie.</p>
</div>

<div class="container py-5">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
                <h1 class="display-4">Cze! </h1>
                <p class="lead">Stworzysz tutaj zawarto dla swojej strony, portfolio, wizyt贸wki czego tylko zechcesz!</p>
                <hr class="my-4">
                <p>
                    Warstwa frontendowa jest osobnym moduem dostpnym pod tym adresem <a href="https://github.com/Przemekhasz">Przemekhasz</a>
                    W tym miejscu mo偶esz manipulowa zawartoci strony, tj.:
                    <ul>
                        <li>wgra logo</li>
                        <li>wgra banery</li>
                        <li>stworzy menu</li>
                        <li>kreowa opisy</li>
                        <li>otrzymywa wiadomoci z formularza kontaktowego i na nie odpowiada</li>
                        <li>stworzy galerie zdj z opisami, tagami oraz kategoriami</li>
                        <li>stworzy zbi贸r projekt贸w/realizacji czego, czym si chcesz pochwali i atrakcyjnie to przedstawi</li>
                    </ul>
                </p>
                {% if new_messages_count > 0 %}
                    <a href="?crudAction=index&crudControllerFqcn=App%5CInfrastructure%5CAdmin%5CContact%5CContactCrudController">
                        <div class="alert alert-warning" role="alert">
                            <b>{{ new_messages_count }}</b> Nowych wiadomoci
                        </div>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col text-center">
            <h6 class="display-8">Jeli nie wiesz jak zacz nie przejmuj sie, kliknij w ponizszy przycisk, znajduje sie tam plik pdf, w ktorym poprowadze krok po kroku</h6>
            <a href="https://example.com/docs" class="btn btn-primary">Dokumentacja</a>
        </div>
    </div>

    <!-- Author and Feedback Section -->
    <div class="row mt-5">
        <div class="col-md-12 text-center">
            <h2>Autor i Kontakt</h2>
            <p>Tw贸rc i opiekunem tej aplikacji jest <strong>Przemysaw Tarapacki Przemekhasz</strong>. Wszelkie uwagi, pytania oraz pomysy na rozw贸j mo偶na zgasza na poni偶szy adres email:</p>
            <a href="mailto:tarapackiprzemek45@gmail.com">tarapackiprzemek45@gmail.com</a>
        </div>
    </div>
</div>
{% endblock %}
